{% extends 'base.html' %}
{% block head %}
<title>Zoom Count</title>
{% endblock %}


{% block body %}
<div class="contatiner content">
    <h3>Login </h3>
    <br>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/login/">
        <dl>
            {{render_field(form.username)}}
            {{render_field(form.password)}}
        </dl>
        <p><input type=submit value=Login></p>
    </form>
    {% if error %}
        <p class="error"><strong>Error: </strong>{{error}}</p>
    {% endif %}

</div>
{% endblock %}