    <!--<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Class Name</th>
            <th scope="col">Class Size</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Subject Area (optional)</th>
            <th scope="col">PER* (optional)</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
           <!--Populate rows from class DB-- 
          <tr>
            <th scope="row">1</th>
            <td>Philo 31</td>
            <td>100</td>
            <td>9:00AM</td>
            <td>10:50AM</td>
            <td>Philosophy</td>
            <td>7</td>
            <td><button type="button" style="border: none; background: none; margin-left:10px; font-weight:bold; color:rgb(255, 5, 67);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button></td>
          </tr>
          {% for class in classes%}
          <tr>
            <th scope="row">1</th>
            <td>Philo 31</td>
            <td>100</td>
            <td>9:00AM</td>
            <td>10:50AM</td>
            <td>Philosophy</td>
            <td>7</td>
            <td><button type="button" style="border: none; background: none; margin-left:10px; font-weight:bold; color:rgb(255, 5, 67);" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button></td>
          </tr>
          {% endfor %}
          {% if newClass = true %}
          {% endif %}
        </tbody>
    </table>-->

    <!--<script type=text/javascript>
      $(function() {
        $('button#saveChanges').on('click', function(e) {
          e.preventDefault()
          $.getJSON('/save_changes/',
              function(data) {
            //do nothing
          });
          return false;
        });
      });
    </script>
  -->